html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


body{
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    width: 90%;
    margin: auto;
    background-color: hsl(213, 19%, 18%);
    padding: 2rem;
    border-radius: 1rem;
}



.star-svg{
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.star-svg img{
    padding:  1.5rem;
    background-color: hsla(214, 16%, 26%, 0.979);
    border-radius: 50%;
}

.header{
    margin-bottom: 2rem;
}

.header h1{
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
}

