html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


body{
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    width: 90%;
    margin: auto;
    background-color: hsl(213, 19%, 18%);
    padding: 3rem;
    border-radius: 1rem;
    max-width: 500px;
    position: relative;
}

#rating-page{
    z-index: 1;
}





.star-svg{
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.star-svg img{
    padding:  1.5rem;
    background-color: hsla(214, 16%, 26%, 0.979);
    border-radius: 50%;
}

.header{
    margin-bottom: 2rem;
}

.header h1{
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
}

.description{
    margin-bottom: 2rem;
}

.description p{
    font-size: 1.5rem;
    color: hsl(217, 12%, 63%);
    font-weight: 400;
}

.rates{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.rate{
    text-decoration: none;
    border: none;
    padding: 2rem 2.5rem;
    border-radius: 50%;
    background-color: hsl(214, 16%, 26%, 0.979);
    color: hsl(217, 12%, 63%);
    font-weight: 400;
    font-family: 'Overpass', sans-serif;
    transition: .5s ease;
}

.rate:hover{
    color: white;
    background-color: hsl(217, 12%, 63%);
}

.submit{
    background-color: hsl(25, 97%, 53%);
    margin-bottom: 2rem;
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    transition: .5s ease;
}

.submit:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.active{
    background-color: hsl(25, 97%, 53%) !important;
    color: white !;
}


/* styling thank you page  */

#thanks-page{
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(213, 19%, 18%);
    padding: inherit;
    border-radius: inherit;
}

.mobile-svg{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.selected-stat{
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

.selected-stat span{
    color: hsl(25, 97%, 53%);
    padding: 1rem;
    background-color: hsla(214, 16%, 26%, 0.979);
    border-radius: 2rem;
}

.thank-you{
    margin-bottom: 2rem;
    text-align: center;
}

.thank-you h1{
    color: white;
    font-size: 2.5rem;
}

.thanks-stat p{
    font-size: 1.5rem;
    text-align: center;
    color: hsl(217, 12%, 63%);
}
